*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
i{
    transition: all 0.5s ease-in-out;
}
i:hover{
    color: $orange;
}
a{
    color: black;
}
a:checked{
    color: black;
}
h5{
    padding-bottom: 50px;
}
h2{
    padding-bottom: 30px;
}
